body{
  font-family: 'Kanit', sans-serif;
}
table{
    text-align: center;
    width: 100%;
    
}
table.showscore{
    table-layout: auto;
    text-align: center;
}
td, th {
    text-align: center;
    border-collapse: collapse;
    /*border: 1px solid black;*/
    float: center;
    font-size: 1.2vw;
}
h1, h2, h3, h4, p{
  /*color: rgb(75, 75, 75);*/
  font-family: 'Kanit', sans-serif;
}
button{
  font-family: 'Kanit', sans-serif;
  font-size: 1vw;
}

.well{
    color: rgb(88, 192, 3);
    font-size: 1.2vw;
}
.error{
    color: rgb(255, 93, 93);
    font-size: 1.2vw;
}
.delwell{
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 93, 93);
  border: 0px solid ;
  font-size: auto;
}

.addwell{
  background-color: rgba(255, 255, 255, 0); 
  color: black; 
  border: 2px solid rgb(88, 192, 3);
  padding: 0;
  border-radius: 6px;
  margin: 0;
  font-size: 1.2vw;
  text-align: center;
  width: 5vw;
}

.addwell:hover {
  background-color:rgb(88, 192, 3);
  color: white;
}
.adderror{
  background-color: rgba(255, 255, 255, 0); 
  color: black; 
  border: 2px solid rgb(255, 93, 93);
  padding: 0;
  border-radius: 6px;
  margin: 0;
  font-size: 1.2vw;
  text-align: center;
  width: 5vw;
}
.adderror:hover {
  background-color:rgb(255, 93, 93);
  color: white;
}
.showscore{
    text-align: center;
    border: 2px solid  #008CBA;
    border-radius: 12px;
    padding: 16px;
    height: 100%;
    border-collapse: collapse;
}
#showscore, #scoremax, #scoreerror, #scoretotal{
    border-collapse: collapse;
    padding: 20px;
    height: 100%;
    font-size: 2vw;
}
#showscoreall{
    border-collapse: collapse;
    padding: 20px;
}
#row2{
    background-color:#f2f2f2; 
    font-size: 1vw;
}
#row1{
  background-color:#ffffff; 
  font-size: 1vw;
}
.rowerror{
    background-color: #f2f2f2;
    font-size: 1vw;
}

#ulmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  #limenu {
    float: left;
  }
  
  #limenu .menu {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #limenu .menu:hover {
    background-color: #111; 
    width: 100%;
    height: 100%;
    border: 0ex;
  }
  .menu{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    border: 0ex;
  }

 
  .choosePlayer:after {
    text-align: center;
  }
  .choosePlayer{
    text-align: center;
    margin: auto;
    width: 100%;
    height: 23vw;

  }
  .player{
    float: left;
    width: 16%;
    margin: 0 2%;
    text-align: center;
    height: 16vw; /* Should be removed. Only for demonstration */
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 75%;
    box-shadow: 0 4px 6px 0 rgba(56, 56, 56, 0.178), 0 6px 20px 0 rgba(0, 0, 0, 0.096);
    font-size: 4vw;
  }
  .btnplayer{
    width: 100%;
    height: 100%;
    float: left;
    background-color: rgba(0, 139, 186, 0);
    border: 0px;
    text-align: center;
    color: rgb(75, 75, 75);
    border-radius: 10px;
    font-size: 1vw;
  }
  .btnplayer:hover {
    background-color:rgb(255, 93, 93);
    color: white;
    border-radius: 10px;
  }
  input[type=text]{
    width: 100%;
    padding: 10px 0px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 0px;
    border-radius: 0px;
    font-size: 1vw;
    color: rgb(255, 93, 93);
    border-bottom: 1px solid rgb(187, 187, 187);
  }
  
  .center {
    margin: auto;
    width: 20vw;
  }
  .centertitle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  #btninput{
    text-align: center;
    width: 100%;
    height: 10%;
    border-radius: 12px;
    padding: 16px;
    font-size: 2vw; 
    color: #ddd;
    border: 0px;
    margin: 0px;
    background-color: rgb(255, 93, 93);
  }
  #btninput:hover {
    color: #474747;
    border: 2px solid rgb(255, 93, 93);
    background-color:  white;
  }
  #btnsubmit{
    text-align: center;
    width: 100%;
    height: 10%;
    border-radius: 12px;
    padding: 16px;
    font-size: 2vw; 
    color: #ddd;
    border: 0px;
    margin: 0px;
    background-color: rgb(44, 41, 41);
  }
  #btnsubmit:hover{
    color: rgb(44, 41, 41);
    background-color: white;
    border: 2px solid rgb(44, 41, 41);
  }
  .fornsize{
    font-size: 4vw;
  }
  .inputplayer6{
    margin: auto;
    width: 70%;
    height: 100%;
    border-radius: 12px;
    font-size: 1.5vw;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px 0 rgba(49, 49, 49, 0.178), 0 6px 20px 0 rgba(0, 0, 0, 0.096);
  }
  /* scoreall */
  .scoreall:after {
    text-align: center;
  }
  .scoreall{
    text-align: center;
    margin: 0px;
    width: 100%;
    padding: 0px;
    float: right;
    text-align: center;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 4px 6px 0 rgba(49, 49, 49, 0.178), 0 6px 20px 0 rgba(0, 0, 0, 0.096);
  }
  .scorename {
    float: left;
    width: 20%;
    padding: 10px;
    text-align: center;
    height: 100%; /* Should be removed. Only for demonstration */
    
  }
  .scoretablevalue {
    float: left;
    width: 80%;
    padding: 10px;
    height: 100%;
    text-align: center;
    height: 100%; /* Should be removed. Only for demonstration */
    
  }
  
  #showscorediv{
    border-collapse: collapse;
    float: right;
    margin: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    text-align: center;
}
  /*  1 2 3 4 5 6 */
  #st1{
    color: rgb(255, 230, 0); 
    font-size: 2.5vw;
  }
  #nd2{
    color: rgb(148, 148, 148); 
    font-size: 2vw;
  }
  #rd3{
    color: rgb(179, 47, 6); 
    font-size: 1.5vw;
  }
  #th456{
    color: rgb(75, 75, 75); 
    font-size: 1vw;
  }

  /* table */
  #tableplayer{
    text-align: center;
    color: rgb(75, 75, 75); 
    margin: 0;
    padding: 0;
    font-size: 2vw;
  }
 
  * {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 16px;
    text-align: center;
    font-size: 2vw;
    height: 50%;/* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    text-align: center;
    content: "";
    display: table;
    padding: 3px;
    clear: both;
    font-size: 2vw;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  .polaroid {
    width: 100%;
    box-shadow: 0 4px 6px 0 rgba(77, 76, 76, 0.336), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: auto;
    font-size: 2vw;
    border-radius: 10px;
  }
  .title{
    width: 100%;
    height: 500px; 
    padding: 0px;
    margin: 0px;
    color: #ddd;
    padding: 0px;
    text-align: center;
    background-color: rgb(44, 45, 46);
    
  }
  .bottom{
    width: 100%;
    height: 50px;
    background-color: rgb(44, 45, 46);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    color: #ddd;

  }
  .centertitle2{
    margin: auto;
    height: 100%;
    width: 20%;
  }
  /* */
  .divscoresum:after {
    text-align: center;
  }
  .divscoresum{
    text-align: center;
    margin: auto;
    width: 100%;
    height: 40vw;

  }
  .divsum{
    float: left;
    width: 46%;
    margin: 0 2%;
    text-align: center;
    height: 16vw; /* Should be removed. Only for demonstration */
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 75%;
    box-shadow: 0 4px 6px 0 rgba(56, 56, 56, 0.178), 0 6px 20px 0 rgba(0, 0, 0, 0.096);
    font-size: 4vw;
  }
